.emptyCart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
  flex: 1 1 auto;

  p {
    text-align: center;
    opacity: 0.6;
  }

  .greenButton {
    .arrowBack {
      position: absolute;
      left: 70px;
      top: 20px;
      transition: transform 0.15s ease-in-out;
    }

    &:hover {
      .arrowBack {
        transform: translateX(-55px);
      }
    }
  }
}
