.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;


  .drawer {
    position: absolute;
    width: 385px;
    height: 100%;
    right: 0;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;

    h2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0;
      font-size: 24px;

      .cardExit-btn {
        cursor: pointer;
      }

      img {
        cursor: pointer;
      }
    }

    .emptyCart {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 100px;
      flex: 1 1 auto;

      p {
        text-align: center;
        opacity: 0.6;
      }

      .greenButton {
        .arrowBack {
          position: absolute;
          left: 70px;
          top: 20px;
          transition: transform 0.15s ease-in-out;
        }

        &:hover {
          .arrowBack {
            transform: translateX(-55px);
          }
        }
      }
    }

    .items {
      overflow: auto;
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;

      .itemsArea {
        flex: 1 1 auto;

        .cartItem {
          margin: 20px 0;
          display: flex;
          align-items: center;
          border: 1px solid #F3F3F3;
          border-radius: 20px;

          img {
            margin: 20px;
            width: 70px;
            height: 70px;
          }

          .item {
            p {
              font-size: 14px;
              line-height: 17px;
              margin: 0 0 8px 0;
            }

            b {
              font-weight: 700;
              font-size: 14px;
              line-height: 17px;
            }
          }

          .remove-btn {
            width: 32px;
            height: 32px;
            cursor: pointer;
            opacity: 0.2;
            transition: 0.2s ease-in-out;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

    }

    .cardTotal {
      display: flex;
      flex-direction: column;
      align-items: center;

      ul {
        width: 100%;

        li {
          display: -ms-flex;
          justify-content: space-between;
          align-items: flex-end;
          margin-bottom: 10px;

          span {
            font-size: 14px;
          }

          div {
            flex: 0.9;
            height: 1px;
            border-bottom: 1px dashed #dfdfdf;
            margin-bottom: 3px;
          }

          b {
            font-size: 14px
          }
        }
      }

    }
  }
}

.greenButton {
  width: 325px;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  position: relative;

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }

  .arrowForward {
    position: absolute;
    right: 70px;
    top: 20px;
    transition: transform 0.15s ease-in-out;
  }

  &:hover {
    .arrowForward {
      transform: translateX(55px);
    }
  }
}


